body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#blog-list {
    color: white;
    background-color: blue;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #86c0e2;
  list-style: none;
}

li:hover {
  background-color: #f0f0f0;
}

#back-button {
  margin-bottom: 20px;
  padding: 10px 15px;
}

#blog-date {
  font-size: 0.8em;
  color: #666;
}