
body {

        display: flex;
        flex-direction: column;
        font-family: "Helvetica", "Arial", sans-serif;

      }
.maincontent{
  margin-right: 8%;
  margin-left: 8%;

}

      ul {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;  /*Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
ul a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
ul a:hover {
  text-decoration: underline;
  color: red;
}


/* The footer */
footer {

  background-color: black;
  position: fixed; /* Set the footer to fixed position */
  bottom: 0; /* Position the footer at the bottom of the page */
  width: 100%; /* Full width */
}
footer p{
  color: white;
}
#pgheader{
  background-color: gainsboro;
  border-radius: 5px;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  padding: 5%;
  margin: 5%;
}
.italic-words {
        font-style: italic;
    }
#pgheader h1{
  text-transform: uppercase;
}


@media screen and (min-width: 800px) {

.container {
        display: grid; /* Makes the container a grid container */
        grid-template-columns: 1fr 1fr 1fr ; /* Creates three equal-width columns */

        

}.item{
  text-align: center;
 
  margin-right: 20px;
  margin-left: 20px;
}
div p{
  text-align: justify;
}
video{
   width: 300px;
        height: 200px;
}
img{
     width: 300px;
        height: 200px;
}
      }
@media screen and (width < 800px) {

.item{
  text-align: center;

}
div p{
  text-align: justify;
}
      }
@media screen and (width < 1000px) {
  label{
  display: flex;
  text-align: center;
  justify-content: center;

  }
}
#signup{
  background-color: gainsboro;
  text-align: center;
  padding: 5%;
  border-radius: 5px;
}
input{
  box-shadow: 3px 3px;
  border-radius: 4px;
}
h3{
  text-align: center;
}
.tablecontainer{
  margin: 0 auto;
  overflow-x: auto;
 
}
th {
  text-align: center;
  font-weight: bold;
}
td{
  text-align: right;
}
tr:nth-child(even) {background-color: gainsboro}
tr:hover {background-color: blue;}
table, th, tr, td{
  overflow-x: auto;
  border: 1px solid black;
}
td:nth-child(1) {
  font-weight: bold;
}
td:nth-child(6) {
  color: red;
}
#total{
  color: red;
}